<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Received</title>
</head>
<body style="height: 100vh; margin: 0; padding: 0; background-color: #f3f4f6; font-family: Arial, sans-serif;">
<div style="background-color: white; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 24px; height: 100vh;margin: 0 auto; box-sizing: border-box;">
    <table role="presentation" width="100%" style="margin-bottom: 24px; text-align: center;">
        <tr>
            <td>
                <img src="https://t3.ftcdn.net/jpg/00/87/97/06/360_F_87970667_lRKF4Smrc4nMX195xW2HWBeEHuS2LuHw.webp" alt="Request Received" style="max-width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" />
            </td>
        </tr>
    </table>
    <p style="color: #4b5563; font-size: 16px; line-height: 1.5; text-align: justify; margin: 0;">
        We have received your request and would like to thank you for reaching out to us.
        Our team is currently reviewing the details, and we will proceed with it as soon as possible.
        Please rest assured that we are prioritizing your query and will get back to you shortly.
        If you have any additional information to share or questions in the meantime, feel free to contact us.
    </p>
    <p style="color: #4b5563; font-size: 16px; line-height: 1.5; text-align: justify; margin-top: 10px;">
        Thank you!
    </p>
</div>
</body>
</html>
